
body {
    background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url('image101.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.all {
    margin: 0 auto;
    height: 400px;
    width: 500px;
    color:white;
}
.option{
    float:left;
    top:100px;

}
.option h1{
    text-align:center;
    margin-top:200px;

}

.button-box {
    margin: 100px auto;
    width: fit-content;

}

button{
    padding:20px 40px !important;
    margin-left:5px !important;
}