@media only screen and (min-width: 700px) {
    body {
        background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url('image5.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .login-box {
        max-width: 700px;
        float: none;
        margin: 0 auto;
    }

    .login-left {
        margin-top: 100px;
        background: rgba(211, 211, 211, 0.5);
        padding: 30px;
        float: left;
        width: 50%;
        height: 620px;
    }

    .login-right {
        margin-top: 100px;
        background: #fff;
        padding: 30px;
        float: left;
        width: 50%;
        height: 620px;
    }

    .form-control {
        background-color: transparent !important;
    }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);
        padding: 10px;
        margin: 0 5px;
        border: solid;
        border-width: 20px;
        border-color: white;
        outline: none;
    }

    input[type=password] {
        width: 100%;
        padding: 16px 20px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: #f1f1f1;
        border-radius: 25px;
        outline: none;
    }

    input[type=email] {
        width: 100%;
        padding: 16px 20px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: #f1f1f1;
        border-radius: 25px;
        outline: none;
    }

    input[type=text] {
        width: 100%;
        padding: 16px 20px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: #f1f1f1;
        border-radius: 25px;
        outline: none;
    }


    input[type=tel] {
        width: 100%;
        padding: 16px 20px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: #f1f1f1;
        border-radius: 25px;
        outline: none;
    }

    .placement {
        width: 100%;
        padding: 16px 20px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: #f1f1f1;
        border-radius: 25px;
    }
}
@media only screen and (max-width: 700px) {
    body {
        background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url('image5.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .login-box {
        max-width: 700px;
        float: none;
        margin: 0 auto;
    }

    .login-left {
        margin-top: 60px;
        background: rgba(211, 211, 211, 0.5);
        padding: 30px;
        float: left;
        width: 100%;
        height: 350px;
    }

    .login-right {
        margin-top: 15px;
        background: #fff;
        padding: 30px;
        float: left;
        width: 100%;
        height: 620px;
    }

    .form-control {
        background-color: transparent !important;
    }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);
        padding: 10px;
        margin: 0 5px;
        border: solid;
        border-width: 20px;
        border-color: white;
        outline: none;
    }

    input[type=password] {
        width: 100%;
        padding: 16px 20px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: #f1f1f1;
        border-radius: 25px;
        outline: none;
    }

    input[type=email] {
        width: 100%;
        padding: 16px 20px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: #f1f1f1;
        border-radius: 25px;
        outline: none;
    }

    input[type=text] {
        width: 100%;
        padding: 16px 20px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: #f1f1f1;
        border-radius: 25px;
        outline: none;
    }


    input[type=tel] {
        width: 100%;
        padding: 16px 20px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: #f1f1f1;
        border-radius: 25px;
        outline: none;
    }

    .placement {
        width: 100%;
        padding: 16px 20px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: #f1f1f1;
        border-radius: 25px;
    }
}